@model Occupancy.Models.Locales

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Locales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ocupado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ocupado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MFrente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MFrente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MFondo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MFondo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MCuadTotales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MCuadTotales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumLocParaCobro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumLocParaCobro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImporteRenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImporteRenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Espacios.Espacio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Espacios.Espacio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naves.Nave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naves.Nave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Secciones.Seccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Secciones.Seccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCuotas.TipoCuota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCuotas.TipoCuota)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
