@model Occupancy.Models.Parametros

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Parametros</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Yar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UMAProrrateada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UMAProrrateada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaLimiteProrrateada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaLimiteProrrateada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UMANormal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UMANormal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaLimiteNormal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaLimiteNormal)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
