@model Occupancy.Models.Ordenes

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ordenes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FolioRecibo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FolioRecibo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaEmision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaEmision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImporteTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImporteTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Corriente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Corriente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adicional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adicional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rezago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rezago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdicionalRezago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdicionalRezago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecargoRezago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecargoRezago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Multa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Multa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Honorarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Honorarios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ejecucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ejecucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Redondeo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Redondeo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArbitriosMov.Arbitrio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArbitriosMov.Arbitrio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departamentos.Departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamentos.Departamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movimientos.FolioRecibo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movimientos.FolioRecibo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.IDASPNETUSER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.IDASPNETUSER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personas.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personas.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
