@model Occupancy.Models.Movimientos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movimientos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImporteTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImporteTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FolioRecibo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FolioRecibo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaEmision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaEmision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaVencimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pagado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pagado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Corriente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Corriente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adicional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adicional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recargos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recargos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rezago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rezago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdicionalRezago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdicionalRezago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecargoRezago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecargoRezago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Multa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Multa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Honorarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Honorarios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ejecucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ejecucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Redondeo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Redondeo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contratos.NombreComercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contratos.NombreComercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Permisos.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Permisos.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoMovimiento.TipoMovimiento1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMovimiento.TipoMovimiento1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.IDASPNETUSER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.IDASPNETUSER)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDMovimiento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
