@model Occupancy.Models.Contratos
 
 
@{
    ViewBag.Title = "Edo Cta";
}

<head>   
     
</head>
<body>
    <br />
    <br />
    <div class="container">
        <!-- Row 1  con dos panels Info del contrato, persona, espacio, nave, sección, local, cómo se cobra -->
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <!-- Col con panel Info General-->
                    <div class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div style="text-align:center;">                                    
                                    <img src="~/Content/images/Logotipo 2022 - gris.png" width="60" height="60" />
                                    <h4><strong>Estado de Cuenta - Edición</strong></h4>
                                </div>
                                <!-- <div class="panel-title"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 25px"></span> <strong>  Estado de Cuenta - Edición</strong></div>-->
                            </div>
                            <div class="panel-body">
                                <p><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Revise o agregue movimientos relacionados con el Estado de Cuenta de un Contrato - Concesión.</p>
                                <p><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Cargue los <strong>Saldos Iniciales</strong>, bien sea de <strong>Rezago o Corriente.</strong></p>
                                <p><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Genere los <strong>meses de cargo por adelantado</strong> de los meses de renta, si la persona pagará por adelantado. </p>
                                <p><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> 
                                Genere las <strong>Ordenes de Pago</strong> para los movimientos que corresponda, una Orden de Pago podrá generarla por el <strong>importe completo o por abono parcial.</strong></p>
                            </div>
                        </div>
                    </div>
                    <!-- Col con panel Datos Persona-->
                    <div class="col-md-6">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <div style="text-align:center;">
                                    <img src="~/Content/images/account.png" width="35" height="35" />
                                    <h4><strong>@ViewBag.personaNombre</strong></h4>
                                </div>
                                <!-- <span class="glyphicon glyphicon-user"></span>
                                <h4><strong>Nombre: @ViewBag.personaNombre</strong></h4>-->
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">Folio Padrón: @ViewBag.IDPersona</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">Nombre Comercial: @ViewBag.nombreComercial</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">Folio Contrato / Concesión : <strong>@ViewBag.IDContrato</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row 2 -->
        <!-- Row con dos panels Datos Espacio y Datos del Local-->
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <!-- Col con panel Info Espacio-Nave-Sección -->
                    <div class="col-md-6">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <div style="text-align:center;">
                                    <img src="~/Content/images/supermarket.png" width="35" height="35" />
                                    <h4><strong>@ViewBag.EspacioNombre</strong></h4>
                                </div>
                                <!-- <span class="glyphicon glyphicon-home"></span>
                                <h4><strong>Espacio: @ViewBag.EspacioNombre</strong></h4>-->
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-4">Nave :</div>
                                    <div class="col-sm-8"><strong>@ViewBag.naveNombre</strong></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">Sección :</div>
                                    <div class="col-sm-8"><strong>@ViewBag.seccionNombre</strong></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <div style="text-align:center;">
                                    <img src="~/Content/images/accounting.png" width="35" height="35" /><h3><strong>Saldo: $ @ViewBag.Saldo</strong></h3>
                                </div>
                                <!-- <span class="glyphicon glyphicon-home"></span>-->
                                <!-- <h3><strong>Saldo: $ @ViewBag.Saldo</strong></h3>-->
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-4">Local :</div>
                                    <div class="col-sm-8"><strong> @ViewBag.localNombre</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Col con panel Info Local, y datos para cobro  -->
                    <div class="col-md-6">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <div style="text-align:center;">
                                    <img src="~/Content/images/food-stand.png" width="35" height="35" />
                                    <h3><strong>@ViewBag.localNombre</strong></h3>
                                </div>
                                <!-- <span class="glyphicon glyphicon-home"></span>
                                <h3><strong>Local: @ViewBag.localNombre</strong></h3>-->
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">Metros Cuadrados:</div>
                                    <div class="col-md-6"><strong>@ViewBag.localMcuadrados m2</strong></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Num. Locales para cobro:</div>
                                    <div class="col-md-6"><strong>@ViewBag.localNumParaCobro</strong></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Tipo Cuota:</div>
                                    <div class="col-md-6"><strong>@ViewBag.localTipoCuota</strong></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Cuota Renta:<strong>$@ViewBag.localCuotaRenta</strong></div>
                                    <div class="col-md-6">Cuota Renta con Adic.: <strong>$@ViewBag.localCuotaRentaConAdic</strong></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Importe Renta Mensual:</div>
                                    <div class="col-md-6"><strong>$@ViewBag.localImporteRenta</strong></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Importe Renta Mensual con Adicional:</div>
                                    <div class="col-md-6"><strong>$@ViewBag.localImporteRentaconAdic</strong></div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
         <!-- las acciones generales  -->
        <div class="row">
            <div class="col-md-2">
                @Html.ActionLink("Regresar a Contratos ", "IndexAdmin")
            </div>
            <div class="col-md-2">
                
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMonthsDebitBalance">Meses Saldo Inicial Deudor</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMonthsAFavorBalance">Meses Saldo Inicial a Favor</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMonthModal">Cargar Mes Adelantado</button>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <!-- Row 3 Datatable Movimientos asociados al Contrato el iCollection miembro del objeto Contrato del Modelo -->
        <div class="row">
            <br />
            <br />
            <!-- hay registros en model.Movimientos.ToList() -->
           
           <table id="miTabla" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Periodo</th>
                        <!-- -->
                        <th>Importe</th>
                        <th>Saldo</th>
                        <th>Naturaleza</th>
                        <th>Descripción. Observaciones</th>
                        <th>Tipo Movimiento</th>
                        <!-- -->
                        <th>Fecha Emisión</th>
                        <th>Fecha Vencimiento</th>
                        <th>Num. Orden</th>
                        <th>Pagado?</th>
                        <th>Folio Recibo</th>
                        <th>Fecha de Pago</th>
                        <th>@Html.DisplayNameFor(model => model.Movimientos.ToList().First().Corriente)</th>
                        <th>@Html.DisplayNameFor(model => model.Movimientos.ToList().First().Adicional)</th>
                        <th>@Html.DisplayNameFor(model => model.Movimientos.ToList().First().Recargos)</th>
                        <th>@Html.DisplayNameFor(model => model.Movimientos.ToList().First().Rezago)</th>
                        <th>@Html.DisplayNameFor(model => model.Movimientos.ToList().First().AdicionalRezago)</th>
                        <th>@Html.DisplayNameFor(model => model.Movimientos.ToList().First().RecargoRezago)</th>
                        <th>@Html.DisplayNameFor(model => model.Movimientos.ToList().First().Redondeo)</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Movimientos)
                    {
                        if (item.TipoMovimiento.Naturaleza.Contains("CARGO"))
                        {
                            <tr class="info">                                
                                <td>
                                    <strong>@Html.DisplayFor(modelItem => item.Periodo)</strong>
                                </td>
                                <!-- -->                                
                                @if (item.Pagado == true)
                                {
                                    <td><span class="text-success"><strong>@Html.DisplayFor(modelItem => item.ImporteTotal)</strong></span></td>
                                    <td><span class="text-success"><strong>@Html.DisplayFor(modelItem => item.Saldo)</strong></span></td>
                                }
                                else
                                {
                                    <td><span class="text-danger"><strong>@Html.DisplayFor(modelItem => item.ImporteTotal)</strong></span></td>
                                    <td><span class="text-danger"><strong>@Html.DisplayFor(modelItem => item.Saldo)</strong></span></td>
                                }
                                
                                <!-- -->
                                <td>@Html.DisplayFor(modelItem => item.TipoMovimiento.Naturaleza)</td>                                
                                <td><p class="text-info"><strong>@Html.DisplayFor(modelItem => item.Observaciones)</strong></p></td>
                                <!-- -->
                                <td><small>@Html.DisplayFor(modelItem => item.TipoMovimiento.TipoMovimiento1)</small></td>
                                <td>@Html.DisplayFor(modelItem => item.FechaEmision)</td>
                                <td><strong>@Html.DisplayFor(modelItem => item.FechaVencimiento)</strong></td>
                                <td><strong>@Html.DisplayFor(modelItem => item.IDOrden)</strong></td>
                                @if (item.Pagado == true)
                                {
                                    <td><span class="text-success"><strong>Si</strong></span></td>
                                }
                                else
                                {
                                    <td><span class="text-danger"><strong>No</strong></span></td>
                                } 
                                <!-- <td>@Html.DisplayFor(modelItem => item.Pagado)</td>  -->
                                <td>@Html.DisplayFor(modelItem => item.FolioRecibo)</td>
                                <td><strong>@Html.DisplayFor(modelItem => item.FechaPago)</strong></td>
                                <!-- -->
                                <td> @Html.DisplayFor(modelItem => item.Corriente)</td>
                                <td> @Html.DisplayFor(modelItem => item.Adicional)</td>
                                <td> @Html.DisplayFor(modelItem => item.Recargos)</td>
                                <td> @Html.DisplayFor(modelItem => item.Rezago)</td>
                                <td> @Html.DisplayFor(modelItem => item.AdicionalRezago)</td>
                                <td> @Html.DisplayFor(modelItem => item.RecargoRezago)</td>
                                <td> @Html.DisplayFor(modelItem => item.Redondeo)</td>
                                <td>
                                    @{ if (item.TipoMovimiento.Naturaleza.Contains("CARGO") && (item.Pagado == false || item.Pagado == null) && item.FechaPago == null) //SI
                                        {
                                            <div>@Html.ActionLink("Orden de Pago Abonar", "AddPartialOrder", "Contratos", new { id = item.IDMovimiento }, new { @class = "btn btn-primary" })</div>
                                            <br />
                                            <div>@Html.ActionLink("Orden de Pago Liquidar", "AddFullOrder", "Contratos", new { id = item.IDMovimiento }, new { @class = "btn btn-primary" })</div> 
                                        } }
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr class="success">
                                <td>
                                    <strong>@Html.DisplayFor(modelItem => item.Periodo)</strong>
                                </td>
                                <!-- -->
                                <td><p class="text-success"><strong>@Html.DisplayFor(modelItem => item.ImporteTotal)</strong></p></td>
                                <td></td>
                                <!-- -->
                                @if (item.TipoMovimiento.Naturaleza.Contains("CARGO"))
                                {
                                    <td>@Html.DisplayFor(modelItem => item.TipoMovimiento.Naturaleza)</td>
                                }
                                else
                                {
                                    <td>@Html.DisplayFor(modelItem => item.TipoMovimiento.Naturaleza)</td>

                                }                                
                                <td><p class="text-success"><strong>@Html.DisplayFor(modelItem => item.Observaciones)</strong></p></td>
                                <!-- -->
                                <td><small>@Html.DisplayFor(modelItem => item.TipoMovimiento.TipoMovimiento1)</small></td>
                                <td><strong>@Html.DisplayFor(modelItem => item.FechaEmision)</strong></td>
                                <td><strong>@Html.DisplayFor(modelItem => item.FechaVencimiento)</strong></td>
                                <td>@Html.DisplayFor(modelItem => item.IDOrden)</td>                                
                                @if (item.Pagado == true)
                                {
                                    <td><span class="text-success"><strong>Si</strong></span></td>
                                }
                                else
                                {
                                    <td><span class="text-danger"><strong>No</strong></span></td>
                                } 
                                <td><strong>@Html.DisplayFor(modelItem => item.FolioRecibo)</strong></td>
                                <td><strong>@Html.DisplayFor(modelItem => item.FechaPago)</strong></td>
                                <!-- -->
                                <td> @Html.DisplayFor(modelItem => item.Corriente)</td>
                                <td> @Html.DisplayFor(modelItem => item.Adicional)</td>
                                <td> @Html.DisplayFor(modelItem => item.Recargos)</td>
                                <td> @Html.DisplayFor(modelItem => item.Rezago)</td>
                                <td> @Html.DisplayFor(modelItem => item.AdicionalRezago)</td>
                                <td> @Html.DisplayFor(modelItem => item.RecargoRezago)</td>
                                <td> @Html.DisplayFor(modelItem => item.Redondeo)</td>
                                <td></td>
                            </tr>
                        }
                     }
                </tbody>
            </table>
        </div>       
        <br />
        <br />       
        <!-- Definición del Modal AddMonth  .                                                                                   modal   AddMonth  -->
        @using (Html.BeginForm("AddMonth", "Contratos", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <!-- -->
            <div class="modal fade" id="addMonthModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="padding:35px 50px;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4><span class="glyphicon glyphicon-plus"></span> Cargar Mes</h4>
                        </div>
                        <div class="modal-body" style="padding:40px 50px;">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4><strong>Nombre: @ViewBag.personaNombre</strong></h4>
                                </div>
                                <div class="col-md-6">
                                    <h4><strong>Espacio: @ViewBag.EspacioNombre</strong></h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    Nave: <strong>@ViewBag.naveNombre</strong>
                                </div>
                                <div class="col-md-6">
                                    Local: <strong>@ViewBag.localNombre</strong>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    Num. Locales para cobro: <strong>@ViewBag.localNumParaCobro</strong>
                                </div>
                                <div class="col-md-6">
                                    Tipo Cuota: <strong>@ViewBag.localTipoCuota</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="com-md-6">Cuota Renta: <strong>$ @ViewBag.localCuotaRenta</strong></div>
                                <div class="col-md-6">Importe Renta Mensual: <strong>$ @ViewBag.localImporteRenta</strong></div>
                            </div>
                            <br />
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @*<label for="importe"> Importe</label>
                                        <input type="number" class="form-control" style="width:auto" id="importe" name="importe" min="1">*@
                                        <strong>@ViewBag.Year</strong>
                                        <br />
                                        <div class="form-group">
                                            <!--  ViewBag.listMeses  ViewBag.sMes  -->
                                            <label for="Meses">Mes a agregar</label>
                                            @Html.DropDownList("sMes", new SelectList(ViewBag.listMeses, "Value", "Text"), "-Seleccione-")
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="obs">Observaciones</label>
                                        <textarea class="form-control" rows="5" style="width:auto" id="obs" name="obs"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-6">

                                </div>
                            </div>
                            <br />
                            <br />
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success"> <span class="glyphicon glyphicon-save"></span> Grabar</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- Definición del Modal AddPartialOrden .                                                                             modal   AddPartialOrden  -->
        @using (Html.BeginForm("AddPartialOrden", "Contratos", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <!-- o-->
            <div class="modal fade" id="addPartialOrden" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="padding:35px 50px;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4><span class="glyphicon glyphicon-minus"></span> Abono. Orden de Pago Parcial</h4>
                        </div>
                        <div class="modal-body" style="padding:40px 50px;">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4><strong>Nombre: @ViewBag.personaNombre</strong></h4>
                                </div>
                                <div class="col-md-6">
                                    <h4><strong>Espacio: @ViewBag.EspacioNombre</strong></h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    Nave: <strong>@ViewBag.naveNombre</strong>
                                </div>
                                <div class="col-md-6">
                                    Local: <strong>@ViewBag.localNombre</strong>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    Num. Locales para cobro: <strong>@ViewBag.localNumParaCobro</strong>
                                </div>
                                <div class="col-md-6">
                                    Tipo Cuota: <strong>@ViewBag.localTipoCuota</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="com-md-6">Cuota Renta: <strong>$ @ViewBag.localCuotaRenta</strong></div>
                                <div class="col-md-6">Importe Renta Mensual: <strong>$ @ViewBag.localImporteRenta</strong></div>
                            </div>
                            <br />
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @*<label for="importe"> Importe</label>
                                        <input type="number" class="form-control" style="width:auto" id="importe" name="importe" min="1">*@
                                        <strong>@ViewBag.Year</strong>
                                        <br />
                                        <div class="form-group">
                                            <!--  ViewBag.listMeses  ViewBag.sMes  -->
                                            <label for="Meses">Meses a agregar</label>
                                            @Html.DropDownList("sMes", new SelectList(ViewBag.listMeses, "Value", "Text"), "-Seleccione-")
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="obs">Observaciones</label>
                                        <textarea class="form-control" rows="5" style="width:auto" id="obs" name="obs"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-6">

                                </div>
                            </div>
                            <br />
                            <br />
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success"> <span class="glyphicon glyphicon-save"></span> Grabar</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- Definición del Modal AddFullOrden .                                                                               modal   AddFullOrden  -->      
        @using (Html.BeginForm("AddFullOrden", "Contratos", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <!--  -->
            <div class="modal fade" id="addFullOrden" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="padding:35px 50px;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4><span class="glyphicon glyphicon-minus"></span> Liquidar </h4>
                        </div>
                        <div class="modal-body" style="padding:40px 50px;">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4><strong>Nombre: @ViewBag.personaNombre</strong></h4>
                                </div>
                                <div class="col-md-6">
                                    <h4><strong>Espacio: @ViewBag.EspacioNombre</strong></h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    Nave: <strong>@ViewBag.naveNombre</strong>
                                </div>
                                <div class="col-md-6">
                                    Local: <strong>@ViewBag.localNombre</strong>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    Num. Locales para cobro: <strong>@ViewBag.localNumParaCobro</strong>
                                </div>
                                <div class="col-md-6">
                                    Tipo Cuota: <strong>@ViewBag.localTipoCuota</strong>
                                </div>
                            </div>

                            <!-- int idMov, float partial, string obs-->
                            <div class="row">
                                <div class="com-md-6">Cuota Renta: <strong>$ @ViewBag.localCuotaRenta</strong></div>
                                <div class="col-md-6">Importe Renta Mensual: <strong>$ @ViewBag.localImporteRenta</strong></div>
                            </div>
                            <br />
                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Movimiento a Liquidar. Generar Orden de Pago</h3>
                                    <div class="form-group">
                                        <label>Tipo Movimiento: @ViewBag.tipoMovim</label>
                                        <p><strong>Importe: $@ViewBag.totalMovim</strong></p>
                                        <label></label>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-md-6">
                                <div class="form-group">
                                    <label for="obs">Observaciones</label>
                                    <textarea class="form-control" rows="5" style="width:auto" id="obs" name="obs"></textarea>
                                </div>
                            </div>*@
                        </div>                        
                        @*<br />
                        <br />*@
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success"> <span class="glyphicon glyphicon-save"></span> Grabar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
                    </div>
                </div>
                
            </div>
        }
        <!-- Definición del Modal Add Months Debit Balance .                                                                   modal   AddMonthsDebitBalance  -->
        @using (Html.BeginForm("AddMonthsDebitBalance", "Contratos", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <!-- Modal --- fade-->
            <!-- Podría incluir un cálculo de número de meses vencidos, sea Corriente o Rezago-->
            <div class="modal fade" id="addMonthsDebitBalance" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="padding:35px 50px;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4><span class="glyphicon glyphicon-plus"></span> Cargar Saldo Inicial Deudor</h4>
                        </div>
                        <div class="modal-body" style="padding:40px 50px;">
                            <!-- form. method = post-->
                            <div class="row">
                                <div class="col-md-6">
                                    <h4><strong>Nombre: @ViewBag.personaNombre</strong></h4>
                                </div>
                                <div class="col-md-6">
                                    <h4><strong>Espacio: @ViewBag.EspacioNombre</strong></h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    Nave: @ViewBag.naveNombre
                                </div>
                                <div class="col-md-6">
                                    Local: @ViewBag.localNombre
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    Num. Locales para cobro: @ViewBag.localNumParaCobro
                                </div>
                                <div class="col-md-6">
                                    Tipo Cuota: @ViewBag.localTipoCuota
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    Importe Renta Mensual: $ @ViewBag.localImporteRenta
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <p>Número de meses cargar que integran el Saldo Deudor (máximo 24 meses) </p>
                                        <label for="nMeses"> Número de Meses</label>
                                        <input type="number" class="form-control" style="width:auto" id="nMeses" name="nMeses" min="1" max="24">
                                    </div>
                                </div>                                
                            </div>
                            <!--  -->
                            <div class="form-group">
                                <label for="tipoM"> Tipo de Saldo Inicial</label>
                                <div class="col-md-10">
                                    <div class="editor-field">
                                        <select class="form-control" id="tipoSaldo" name="tipoSaldo" style="width:auto" disabled>
                                            <option>SALDO DEUDOR</option>
                                            <option>SALDO A FAVOR</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />
                            <!-- </form> form="formAddB" -->
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success"> <span class="glyphicon glyphicon-save"></span> Grabar</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
                        </div>
                    </div>

                </div>
            </div>
            @* modal termina *@
        }
        <!-- Definición del Modal Add Months a Favor Balance .                                                                   modal   AddMonthsAFavorBalance  -->
        @using (Html.BeginForm("AddMonthsAFavorBalance", "Contratos", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <!-- Modal --- fade-->
            <!-- Podría incluir un cálculo de número de meses vencidos, sea Corriente o Rezago-->
            <div class="modal fade" id="addMonthsAFavorBalance" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="padding:35px 50px;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4><span class="glyphicon glyphicon-plus"></span> Cargar Saldo Inicial A Favor</h4>
                        </div>
                        <div class="modal-body" style="padding:40px 50px;">
                            <!-- form. method = post-->
                            <div class="row">
                                <div class="col-md-6">
                                    <h4><strong>Nombre: @ViewBag.personaNombre</strong></h4>
                                </div>
                                <div class="col-md-6">
                                    <h4><strong>Espacio: @ViewBag.EspacioNombre</strong></h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    Nave: @ViewBag.naveNombre
                                </div>
                                <div class="col-md-6">
                                    Local: @ViewBag.localNombre
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    Num. Locales para cobro: @ViewBag.localNumParaCobro
                                </div>
                                <div class="col-md-6">
                                    Tipo Cuota: @ViewBag.localTipoCuota
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    Importe Renta Mensual: $ @ViewBag.localImporteRenta
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <p>Número de meses a cargar que integran el Saldo a Favor (máximo 11 meses) </p>
                                        <label for="nMeses"> Número de Meses</label>
                                        <input type="number" class="form-control" style="width:auto" id="nMeses" name="nMeses" min="1" max="11">
                                    </div>
                                </div>                                
                            </div>                            
                            <br />
                            <br />
                            <!-- </form> form="formAddB" -->
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success"> <span class="glyphicon glyphicon-save"></span> Grabar</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
                        </div>
                    </div>

                </div>
            </div>
            @* modal termina *@
        }
        


    </div>
     @section scripts{
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/r-2.2.7/datatables.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css">
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/r-2.2.7/datatables.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.bootstrap.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.colVis.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#miTabla').DataTable({
                    select: true,
                    dom: 'lfrtip',
                    lengthMenu: [
                        [10, 25, 50, -1],
                        ['Ver 10 Filas', 'Ver 25 Filas', 'Ver 50 Filas', 'Ver Todo']
                    ],
                    "order": [[0, "asc"]],
                    responsive: true,
                    "language": {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": " _MENU_ ",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla =(",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        },
                        "buttons": {
                            "copy": "Copiar",
                            "colvis": "Visibilidad"
                        }
                    },
                    "pageLength": 10

                });
                table.buttons().container()
                    .appendTo('.btn-default');
            });

        </script>
    }

</body>
