@model IEnumerable<Occupancy.Models.Contratos>

@{
    ViewBag.Title = "Contratos";
}

<head>
            
</head>
<body>
    <br />
    <br />
    <div class="container">
        <br />
        <br />
        <div class="panel panel-info">
            <div class="panel-heading">
                @*<div class="panel-title"><span class="glyphicon glyphicon-th-list" aria-hidden="true" style="font-size: 25px"></span><strong> Estados de Cuenta (Saldos y Movimientos) Locatarios</strong></div>*@
                <div style="text-align:center;">
                    <img src="~/Content/images/group.png" width="50" height="50" />
                    <img src="~/Content/images/deal.png" width="50" height="50" />
                    <h4><strong>Estados de Cuenta (Saldos y Movimientos) Locatarios</strong></h4>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title"><strong> Estados de Cuenta </strong></div>
                    </div>
                    <div class="panel-body">
                        <h4></h4>
                        <div>
                            <p><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Haga clic en el botón <strong>"Saldos y movimientos"</strong> del Contrato o Concesión para actualizar o revisar los detalles de los Estados de Cuenta.</p>
                            <p><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Para realizar la Búsqueda de un Contrato o Concesión capture en el cuadro de texto <strong>"Buscar"</strong> cualquier dato asociado: persona, número de contrato, local, nave, sección.</p>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        @*<h3 class="panel-title"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 25px"></span> <strong>Contratos - Concesiones - Permisos - Autorizaciones</strong></h3>*@

                    </div>
                    <div class="panel-body">
                        <h4></h4>
                        <div>
                            <p><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Revise los Contratos o Concesiones con estatus Activo, asociados a <strong>Uso de Piso o Locales</strong>, en cada Nave o Sección que estén definidos dentro del Espacio que administra.</p>
                            <p><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Para crear un <strong>nuevo Contrato</strong>, puede acceder a Padrones/Personas o bien a Espacios / Locales.</p>
                            <p></p>
                        </div>
                        @using (Html.BeginForm("Index", "Personas", FormMethod.Get))
                        {
                            <br>
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Revisar Padrón" class="btn btn-success" />
                            <br>
                        }
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <!-- style="width:100%" "display responsive nowrap" ""table-responsive table-striped table-bordered"-->
        <table class="display" style="width:100%" id="miTabla">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IDContrato)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Personas.APaterno)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Personas.AMaterno)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Personas.Nombre)
                    </th>
                    <!-- nombre del espacio, -->
                    <th>
                        @Html.DisplayNameFor(model => model.Locales.Espacios.Espacio)
                    </th>
                    <!-- nombre de la nave-->
                    <th>
                        @Html.DisplayNameFor(model => model.Locales.Naves.Nave)
                    </th>
                    <!-- nombre del local -->
                    <th>
                        @Html.DisplayNameFor(model => model.Locales.Local)
                    </th>
                    <!--    -->
                    @*<th>
                            @Html.DisplayNameFor(model => model.TipoOcupacionUso.OcupacionUso)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.NombreComercial)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.EsContrato)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Activo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Giros.Giro)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Observaciones)
                    </th>

                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IDContrato)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Personas.APaterno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Personas.AMaterno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Personas.Nombre)
                        </td>
                        <!-- nombre del Espacio -->
                        <td>
                            @Html.DisplayFor(model => item.Locales.Espacios.Espacio)
                        </td>
                        <!-- nombre de la nave-->
                        <td>
                            @Html.DisplayFor(model => item.Locales.Naves.Nave)
                        </td>
                        <!-- nombre del local -->
                        <td>
                            <p style="text-align:center;"><strong>@Html.DisplayFor(modelItem => item.Locales.Local)</strong></p>
                        </td>
                        <!--  -->
                        @*<td>
                                @Html.DisplayFor(modelItem => item.TipoOcupacionUso.OcupacionUso)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreComercial)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.EsContrato)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Activo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Giros.Giro)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Observaciones)
                        </td>
                        <td>
                            <!-- Movimientos del Contrato, agregar Saldos iniciales, meses, desde Contratos Controller -->
                            <div>@Html.ActionLink(" Saldos y Movim.", "EditMovs", new { id = item.IDContrato }, new { @class = "btn btn-success glyphicon glyphicon-edit" })</div>
                            <br />
                            <br />
                            <div>@Html.ActionLink(" Ver Contrato", "Details", new { id = item.IDContrato }, new { @class = "btn btn-info glyphicon glyphicon-list-alt" })</div>
                        </td>
                    </tr>
                 }
            </tbody>
        </table>
    </div>    
    @section scripts{
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/r-2.2.7/datatables.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css">
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/r-2.2.7/datatables.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.bootstrap.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.colVis.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#miTabla').DataTable({
                    dom: 'lfrtip',
                    lengthMenu: [
                        [10, 25, 50, -1],
                        ['Ver 10 Filas', 'Ver 25 Filas', 'Ver 50 Filas', 'Ver Todo']
                    ],
                    "order": [[1, "desc"]],
                    responsive: true,
                    "language": {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": " _MENU_ ",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla =(",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        },
                        "buttons": {
                            "copy": "Copiar",
                            "colvis": "Visibilidad"
                        }
                    },
                    "pageLength": 10
                });
                table.buttons().container()
                    .appendTo('.btn-default');
            });

        </script>
    }


</body>