@using Occupancy.Models;
@using C1.Web.Mvc;
@model Occupancy.Models.Contratos

@{ ViewBag.Title = "Pagar Abonar"; }

<head>
</head>
<body>
    <br />
    <br />
    <div class="container">
        <!-- Row 1  con dos panels Info del contrato, persona, espacio, nave, sección, local, cómo se cobra -->
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <!-- Col con panel Info General-->
                    <div class="col-md-6">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <div style="text-align:center;">
                                    <img src="~/Content/images/Logotipo 2022 - gris.png" width="60" height="60" />
                                    <h4><strong>Ordenes de Pago. Recepción de Pagos y Abonos</strong></h4>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                                    Genere las <strong>Ordenes de Pago</strong> para los movimientos que corresponda, una Orden de Pago podrá generarla por el <strong>importe completo, si el Tipo de Cuota es por Metraje.</strong>
                                </p>
                                <p>
                                    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                                    Genere las <strong>Ordenes de Pago</strong> para los movimientos que corresponda, una Orden de Pago podrá generarla por el <strong>
                                        importe completo o por abono parcial, si el tipo
                                        de cuota es por Local.
                                    </strong>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Col con panel Datos Persona-->
                    <div class="col-md-6">
                        <!-- here new-->
                        <div class="col-md-12">
                            <div class="row">
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <div style="text-align:center;">
                                            <img src="~/Content/images/account.png" width="35" height="35" />
                                            <h4><strong>@ViewBag.personaNombre</strong></h4>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-12">Folio Padrón: @ViewBag.IDPersona</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">Nombre Comercial: @ViewBag.nombreComercial</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12"><h4>Folio Contrato / Concesión : <strong>@ViewBag.IDContrato</strong></h4></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <div style="text-align:center;">
                                            <img src="~/Content/images/accounting.png" width="35" height="35" /><h3><strong>Saldo: $ @ViewBag.Saldo</strong></h3>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-4">Local :</div>
                                            <div class="col-sm-8"><strong> @ViewBag.localNombre</strong></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row 2 -->
        <!-- Row con dos panels Datos Espacio y Datos del Local-->
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <!-- Col con panel Info Espacio-Nave-Sección -->
                    <div class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div style="text-align:center;">
                                    <img src="~/Content/images/supermarket.png" width="35" height="35" />
                                    <h4><strong>@ViewBag.EspacioNombre</strong></h4>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-4">Nave :</div>
                                    <div class="col-sm-8"><strong>@ViewBag.naveNombre</strong></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">Sección :</div>
                                    <div class="col-sm-8"><strong>@ViewBag.seccionNombre</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Col con panel Info Local, y datos para cobro  -->
                    <div class="col-md-6">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <div style="text-align:center;">
                                    <img src="~/Content/images/food-stand.png" width="35" height="35" />
                                    <h3><strong>@ViewBag.localNombre</strong></h3>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">Metros Cuadrados:</div>
                                    <div class="col-md-6"><strong>@ViewBag.localMcuadrados m2</strong></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Num. Locales para cobro:</div>
                                    <div class="col-md-6"><strong>@ViewBag.localNumParaCobro</strong></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Tipo Cuota:</div>
                                    <div class="col-md-6"><strong>@ViewBag.localTipoCuota</strong></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Cuota Renta:<strong>$@ViewBag.localCuotaRenta</strong></div>
                                    <div class="col-md-6">Cuota Renta con Adic.: <strong>$@ViewBag.localCuotaRentaConAdic</strong></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Importe Renta Mensual:</div>
                                    <div class="col-md-6"><strong>$@ViewBag.localImporteRenta</strong></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Importe Renta Mensual con Adicional:</div>
                                    <div class="col-md-6"><strong>$@ViewBag.localImporteRentaconAdic</strong></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <!-- las acciones generales  -->
        <div class="row">
            <div class="col-md-4">
                @Html.ActionLink("Regresar a Contratos ", "IndexAdmin")
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addFullOrden">Recepcion de Pagos</button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addPartialOrden">Recepcion de Pagos</button>
            </div>

        </div>
        <!-- Row 3 Datatable Movimientos asociados al Contrato el iCollection miembro del objeto Contrato del Modelo -->
        <br />
        <div class="row">
            @*@(Html.C1)*@
            @* @model Occupancy.Models.Contratos *@
            @(Html.C1().FlexGrid<Movimientos>()
                .AutoGenerateColumns(false)
                .Id("flexgrid")
                .CssClass("grid")
                .IsReadOnly(true)
                .Bind((IEnumerable<Movimientos>)ViewBag.Docs)
                .OrderBy("Periodo")
                .Columns(cls =>
                {
                    cls.Add(col => col.Binding("IDTipoMovimiento"));
                    cls.Add(col => col.Binding("ImporteTotal"));
                    cls.Add(col => col.Binding("Saldo"));
                    cls.Add(col => col.Binding("FechaEmision"));
                    cls.Add(col => col.Binding("Periodo"));
                })
                )

        </div>

        <br />



    </div>



</body>

