@using Occupancy.Models;
@using C1.Web.Mvc;
@model Occupancy.Models.Contratos

@*@model Occupancy.Models.Movimientos*@

@*@model IEnumerable<Occupancy.Models.Movimientos>*@

@{ ViewBag.Title = "Pagar Abonar"; }

<head>
    @* @Html.C1().Styles()*@
    <style>
        .modal-header {
            background-color: #0086b3;
            color: white !important;
            text-align: center;
            font-size: 15px;
        }
        .modal-footer {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
    <br />
    <br />
    <div class="container">
        <!-- Row 1  con dos panels Info del contrato, persona, espacio, nave, sección, local, cómo se cobra -->
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <!-- Col con panel Info General-->
                    <div class="col-md-6">
                        <div class="row">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <div style="text-align:center;">
                                        <img src="~/Content/images/Logotipo 2022 - gris.png" width="60" height="60" />
                                        <h5><strong>Ordenes de Pago. Recepción de Pagos y Abonos</strong></h5>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <p>
                                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                                        Genere las <strong>Ordenes de Pago</strong> para los movimientos que corresponda, una Orden de Pago podrá generarla por el <strong>importe completo, si el Tipo de Cuota es por Metraje.</strong>
                                    </p>
                                    <p>
                                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                                        Genere las <strong>Ordenes de Pago</strong> para los movimientos que corresponda, una Orden de Pago podrá generarla por el <strong>
                                            importe completo o por abono parcial, si el tipo
                                            de cuota es por Local.
                                        </strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <div style="text-align:center;">
                                        <img src="~/Content/images/supermarket.png" width="25" height="25" />
                                        <h5><strong>@ViewBag.EspacioNombre</strong></h5>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-4">Nave :</div>
                                        <div class="col-sm-8"><strong>@ViewBag.naveNombre</strong></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">Sección :</div>
                                        <div class="col-sm-8"><strong>@ViewBag.seccionNombre</strong></div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <!-- Col con panel Datos Persona-->
                    <div class="col-md-6">
                        <!-- here new-->
                        <div class="col-md-12">
                            <div class="row">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <div style="text-align:center;">
                                            <img src="~/Content/images/account.png" width="25" height="25" />
                                            <h4><strong>@ViewBag.personaNombre</strong></h4>
                                            <img src="~/Content/images/food-stand.png" width="25" height="25" />
                                            <h4><strong>@ViewBag.localNombre   Saldo: $ @ViewBag.Saldo</strong></h4>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-6">Folio Padrón: @ViewBag.IDPersona</div>
                                            <div class="col-sm-6"><h4>Folio Contrato / Concesión : <strong>@ViewBag.IDContrato</strong></h4></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">Nombre Comercial: @ViewBag.nombreComercial</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">Metros Cuadrados:</div>
                                            <div class="col-md-6"><strong>@ViewBag.localMcuadrados m2</strong></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">Tipo Cuota:</div>
                                            <div class="col-md-6"><strong>@ViewBag.localTipoCuota</strong></div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-6">Cuota Renta:<strong>$@ViewBag.localCuotaRenta</strong></div>
                                            <div class="col-md-6">Cuota Renta con Adic.: <strong>$@ViewBag.localCuotaRentaConAdic</strong></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">Num. Locales para cobro:</div>
                                            <div class="col-md-6"><strong>@ViewBag.localNumParaCobro</strong></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">Importe Renta Mensual:</div>
                                            <div class="col-md-6"><strong>$@ViewBag.localImporteRenta</strong></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">Importe Renta Mensual con Adicional:</div>
                                            <div class="col-md-6"><strong>$@ViewBag.localImporteRentaconAdic</strong></div>
                                        </div>
                                        <br />
                                        <br />
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <!-- Row 2 -->
        <!-- las acciones generales  -->
        <div class="row">
            <div class="col-md-4">
                @Html.ActionLink("Regresar a Contratos ", "IndexAdmin")
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addFullOrden">Agregar Meses a Pagar</button>
            </div>
            @if (ViewBag.localtipoCuota == "POR LOCAL")
            {
                <div class="col-md-4">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addPartialOrden">Orden de Pago Abono</button>
                </div>
            }
        </div>
        <!-- Row 3  Orden -->
        <br />
        <div class="row">
            @*<div class="col-md-4"></div>*@
            @*<div class="col-md-4"></div>*@
            @*<div class="col-md-4"></div>*@
            <div class="panel panel-info">
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Movimientos.ToList().First().IDOrden)                            
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Movimientos.ToList().First().IDOrden)
                        </dd>
                        <dt>
                            Fecha Emisión
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Movimientos.ToList().First().Ordenes.FechaEmision)
                        </dd>
                        <dt>
                            Importe Total
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Movimientos.ToList().First().Ordenes.ImporteTotal)
                        </dd>
                        <dt>
                            @*@Html.DisplayNameFor(model => model.Observaciones)*@
                        </dt>
                        <dd>
                            @*@Html.DisplayFor(model => model.Observaciones)*@
                        </dd>
                    </dl>
                </div>                
            </div>            
        </div>
        <!-- Row 4  orden detalle -->
        <br />
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>   
        <!--    -->
        <!-- Definición del Modal AddFullOrden  .                                                                                    -->
        @using (Html.BeginForm("AddFullOrden", "Contratos", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <!-- -->
            <div class="modal fade" id="addFullOrden" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="padding:35px 50px;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4><span class="glyphicon glyphicon-pencil"></span> Orden de Pago Liquidar Mes</h4>
                        </div>
                        <div class="modal-body" style="padding:40px 50px;">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4><strong>Nombre: @ViewBag.personaNombre</strong></h4>
                                </div>
                                <div class="col-md-6">
                                    <h4><strong>Espacio: @ViewBag.EspacioNombre</strong></h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    Nave: <strong>@ViewBag.naveNombre</strong>
                                </div>
                                <div class="col-md-6">
                                    Local: <strong>@ViewBag.localNombre</strong>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    Num. Locales para cobro: <strong>@ViewBag.localNumParaCobro</strong>
                                </div>
                                <div class="col-md-6">
                                    Tipo Cuota: <strong>@ViewBag.localTipoCuota</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="com-md-6">
                                    Cuota Renta: <strong>$ @ViewBag.localCuotaRenta</strong>
                                </div>
                                <div class="col-md-6">
                                    Importe Renta con Adic.: <strong>$@ViewBag.localCuotaRentaConAdic</strong>
                                </div>
                            </div>
                            <br />
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <strong>@ViewBag.Year Meses que adeuda:</strong>
                                        <br />
                                        <div class="form-group">
                                            <!--  ViewBag.listMeses  ViewBag.sMes  -->
                                            <label for="Meses">Mes a Pagar</label>
                                            @Html.DropDownList("sMes", new SelectList(ViewBag.listMesesDebe, "Value", "Text"), "-Seleccione-")
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="obs">Observaciones</label>
                                        <textarea class="form-control" rows="5" style="width:auto" id="obs" name="obs"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success"> <span class="glyphicon glyphicon-save"></span> Agregar </button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        }        
    </div>
</body>



